<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndDate</key>
	<string>06-26-2015</string>
	<key>GlobalQuotes</key>
	<array>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>2059.38</string>
			<key>ChangeFromOpen</key>
			<string>20.77</string>
			<key>Date</key>
			<string>07-04-2014</string>
			<key>High</key>
			<string>2066.64</string>
			<key>Last</key>
			<string>2059.38</string>
			<key>Low</key>
			<string>2038.53</string>
			<key>Open</key>
			<string>2038.61</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.00</string>
			<key>PercentChangeFromOpen</key>
			<string>1.019</string>
			<key>Volume</key>
			<integer>532613292</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-12.42</string>
			<key>ChangeFromOpen</key>
			<string>-11.17</string>
			<key>Date</key>
			<string>07-11-2014</string>
			<key>High</key>
			<string>2064.43</string>
			<key>Last</key>
			<string>2046.96</string>
			<key>LastClose</key>
			<string>2059.38</string>
			<key>Low</key>
			<string>2033.00</string>
			<key>Open</key>
			<string>2058.13</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-0.603</string>
			<key>PercentChangeFromOpen</key>
			<string>-0.543</string>
			<key>Volume</key>
			<integer>508559890</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>12.11</string>
			<key>ChangeFromOpen</key>
			<string>11.33</string>
			<key>Date</key>
			<string>07-18-2014</string>
			<key>High</key>
			<string>2075.49</string>
			<key>Last</key>
			<string>2059.07</string>
			<key>LastClose</key>
			<string>2046.96</string>
			<key>Low</key>
			<string>2044.90</string>
			<key>Open</key>
			<string>2047.74</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.592</string>
			<key>PercentChangeFromOpen</key>
			<string>0.553</string>
			<key>Volume</key>
			<integer>587869434</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>67.54</string>
			<key>ChangeFromOpen</key>
			<string>68.84</string>
			<key>Date</key>
			<string>07-25-2014</string>
			<key>High</key>
			<string>2127.22</string>
			<key>Last</key>
			<string>2126.61</string>
			<key>LastClose</key>
			<string>2059.07</string>
			<key>Low</key>
			<string>2049.18</string>
			<key>Open</key>
			<string>2057.77</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>3.28</string>
			<key>PercentChangeFromOpen</key>
			<string>3.345</string>
			<key>Volume</key>
			<integer>662514771</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>58.69</string>
			<key>ChangeFromOpen</key>
			<string>50.05</string>
			<key>Date</key>
			<string>08-01-2014</string>
			<key>High</key>
			<string>2218.79</string>
			<key>Last</key>
			<string>2185.30</string>
			<key>LastClose</key>
			<string>2126.61</string>
			<key>Low</key>
			<string>2135.25</string>
			<key>MA5</key>
			<string>2095.46</string>
			<key>Open</key>
			<string>2135.25</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.76</string>
			<key>PercentChangeFromOpen</key>
			<string>2.344</string>
			<key>Volume</key>
			<integer>977538892</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>9.13</string>
			<key>ChangeFromOpen</key>
			<string>4.39</string>
			<key>Date</key>
			<string>08-08-2014</string>
			<key>High</key>
			<string>2226.84</string>
			<key>Last</key>
			<string>2194.43</string>
			<key>LastClose</key>
			<string>2185.30</string>
			<key>Low</key>
			<string>2180.60</string>
			<key>MA5</key>
			<string>2122.47</string>
			<key>Open</key>
			<string>2190.04</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.418</string>
			<key>PercentChangeFromOpen</key>
			<string>0.20</string>
			<key>Volume</key>
			<integer>837610814</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>32.30</string>
			<key>ChangeFromOpen</key>
			<string>27.30</string>
			<key>Date</key>
			<string>08-15-2014</string>
			<key>High</key>
			<string>2230.99</string>
			<key>Last</key>
			<string>2226.73</string>
			<key>LastClose</key>
			<string>2194.43</string>
			<key>Low</key>
			<string>2198.31</string>
			<key>MA5</key>
			<string>2158.43</string>
			<key>Open</key>
			<string>2199.43</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>1.472</string>
			<key>PercentChangeFromOpen</key>
			<string>1.241</string>
			<key>Volume</key>
			<integer>803573087</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>14.08</string>
			<key>ChangeFromOpen</key>
			<string>11.01</string>
			<key>Date</key>
			<string>08-22-2014</string>
			<key>High</key>
			<string>2248.94</string>
			<key>Last</key>
			<string>2240.81</string>
			<key>LastClose</key>
			<string>2226.73</string>
			<key>Low</key>
			<string>2211.63</string>
			<key>MA5</key>
			<string>2194.78</string>
			<key>Open</key>
			<string>2229.80</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.632</string>
			<key>PercentChangeFromOpen</key>
			<string>0.494</string>
			<key>Volume</key>
			<integer>835176771</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-23.61</string>
			<key>ChangeFromOpen</key>
			<string>-23.90</string>
			<key>Date</key>
			<string>08-29-2014</string>
			<key>High</key>
			<string>2241.55</string>
			<key>Last</key>
			<string>2217.20</string>
			<key>LastClose</key>
			<string>2240.81</string>
			<key>Low</key>
			<string>2193.26</string>
			<key>MA5</key>
			<string>2212.89</string>
			<key>Open</key>
			<string>2241.10</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-1.054</string>
			<key>PercentChangeFromOpen</key>
			<string>-1.066</string>
			<key>Volume</key>
			<integer>675944397</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>109.23</string>
			<key>ChangeFromOpen</key>
			<string>106.30</string>
			<key>Date</key>
			<string>09-05-2014</string>
			<key>High</key>
			<string>2327.56</string>
			<key>Last</key>
			<string>2326.43</string>
			<key>LastClose</key>
			<string>2217.20</string>
			<key>Low</key>
			<string>2217.69</string>
			<key>MA10</key>
			<string>2168.29</string>
			<key>MA5</key>
			<string>2241.12</string>
			<key>Open</key>
			<string>2220.13</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>4.926</string>
			<key>PercentChangeFromOpen</key>
			<string>4.788</string>
			<key>Volume</key>
			<integer>946442345</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>5.52</string>
			<key>ChangeFromOpen</key>
			<string>3.52</string>
			<key>Date</key>
			<string>09-12-2014</string>
			<key>High</key>
			<string>2343.60</string>
			<key>Last</key>
			<string>2331.95</string>
			<key>LastClose</key>
			<string>2326.43</string>
			<key>Low</key>
			<string>2302.78</string>
			<key>MA10</key>
			<string>2195.55</string>
			<key>MA5</key>
			<string>2268.62</string>
			<key>Open</key>
			<string>2328.43</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.237</string>
			<key>PercentChangeFromOpen</key>
			<string>0.151</string>
			<key>Volume</key>
			<integer>802512647</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-2.50</string>
			<key>ChangeFromOpen</key>
			<string>-0.74</string>
			<key>Date</key>
			<string>09-19-2014</string>
			<key>High</key>
			<string>2347.94</string>
			<key>Last</key>
			<string>2329.45</string>
			<key>LastClose</key>
			<string>2331.95</string>
			<key>Low</key>
			<string>2282.80</string>
			<key>MA10</key>
			<string>2223.80</string>
			<key>MA5</key>
			<string>2289.17</string>
			<key>Open</key>
			<string>2330.19</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-0.107</string>
			<key>PercentChangeFromOpen</key>
			<string>-0.032</string>
			<key>Volume</key>
			<integer>1092386510</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>18.27</string>
			<key>ChangeFromOpen</key>
			<string>24.17</string>
			<key>Date</key>
			<string>09-26-2014</string>
			<key>High</key>
			<string>2365.15</string>
			<key>Last</key>
			<string>2347.72</string>
			<key>LastClose</key>
			<string>2329.45</string>
			<key>Low</key>
			<string>2284.38</string>
			<key>MA10</key>
			<string>2252.66</string>
			<key>MA5</key>
			<string>2310.55</string>
			<key>Open</key>
			<string>2323.55</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.784</string>
			<key>PercentChangeFromOpen</key>
			<string>1.04</string>
			<key>Volume</key>
			<integer>955659856</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>16.15</string>
			<key>ChangeFromOpen</key>
			<string>10.16</string>
			<key>Date</key>
			<string>09-30-2014</string>
			<key>High</key>
			<string>2365.49</string>
			<key>Last</key>
			<string>2363.87</string>
			<key>LastClose</key>
			<string>2347.72</string>
			<key>Low</key>
			<string>2346.58</string>
			<key>MA10</key>
			<string>2276.39</string>
			<key>MA5</key>
			<string>2339.88</string>
			<key>Open</key>
			<string>2353.71</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.688</string>
			<key>PercentChangeFromOpen</key>
			<string>0.432</string>
			<key>Volume</key>
			<integer>394029711</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>10.67</string>
			<key>ChangeFromOpen</key>
			<string>5.96</string>
			<key>Date</key>
			<string>10-10-2014</string>
			<key>High</key>
			<string>2391.35</string>
			<key>Last</key>
			<string>2374.54</string>
			<key>LastClose</key>
			<string>2363.87</string>
			<key>Low</key>
			<string>2354.29</string>
			<key>MA10</key>
			<string>2295.31</string>
			<key>MA5</key>
			<string>2349.51</string>
			<key>Open</key>
			<string>2368.58</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.451</string>
			<key>PercentChangeFromOpen</key>
			<string>0.252</string>
			<key>Volume</key>
			<integer>664988462</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-33.36</string>
			<key>ChangeFromOpen</key>
			<string>-25.25</string>
			<key>Date</key>
			<string>10-17-2014</string>
			<key>High</key>
			<string>2389.68</string>
			<key>Last</key>
			<string>2341.18</string>
			<key>LastClose</key>
			<string>2374.54</string>
			<key>Low</key>
			<string>2312.83</string>
			<key>MA10</key>
			<string>2309.99</string>
			<key>MA5</key>
			<string>2351.35</string>
			<key>Open</key>
			<string>2366.43</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-1.405</string>
			<key>PercentChangeFromOpen</key>
			<string>-1.067</string>
			<key>Volume</key>
			<integer>1061037777</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-38.90</string>
			<key>ChangeFromOpen</key>
			<string>-43.77</string>
			<key>Date</key>
			<string>10-24-2014</string>
			<key>High</key>
			<string>2361.65</string>
			<key>Last</key>
			<string>2302.28</string>
			<key>LastClose</key>
			<string>2341.18</string>
			<key>Low</key>
			<string>2296.66</string>
			<key>MA10</key>
			<string>2317.54</string>
			<key>MA5</key>
			<string>2345.92</string>
			<key>Open</key>
			<string>2346.05</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-1.662</string>
			<key>PercentChangeFromOpen</key>
			<string>-1.866</string>
			<key>Volume</key>
			<integer>776410607</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>117.90</string>
			<key>ChangeFromOpen</key>
			<string>126.61</string>
			<key>Date</key>
			<string>10-31-2014</string>
			<key>High</key>
			<string>2423.60</string>
			<key>Last</key>
			<string>2420.18</string>
			<key>LastClose</key>
			<string>2302.28</string>
			<key>Low</key>
			<string>2279.84</string>
			<key>MA10</key>
			<string>2335.48</string>
			<key>MA5</key>
			<string>2360.41</string>
			<key>Open</key>
			<string>2293.57</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>5.121</string>
			<key>PercentChangeFromOpen</key>
			<string>5.52</string>
			<key>Volume</key>
			<integer>1194850077</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-2.01</string>
			<key>ChangeFromOpen</key>
			<string>-7.06</string>
			<key>Date</key>
			<string>11-07-2014</string>
			<key>High</key>
			<string>2454.42</string>
			<key>Last</key>
			<string>2418.17</string>
			<key>LastClose</key>
			<string>2420.18</string>
			<key>Low</key>
			<string>2401.75</string>
			<key>MA10</key>
			<string>2355.58</string>
			<key>MA5</key>
			<string>2371.27</string>
			<key>Open</key>
			<string>2425.23</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-0.083</string>
			<key>PercentChangeFromOpen</key>
			<string>-0.291</string>
			<key>Volume</key>
			<integer>1384618261</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>60.65</string>
			<key>ChangeFromOpen</key>
			<string>42.19</string>
			<key>Date</key>
			<string>11-14-2014</string>
			<key>High</key>
			<string>2508.62</string>
			<key>Last</key>
			<string>2478.82</string>
			<key>LastClose</key>
			<string>2418.17</string>
			<key>Low</key>
			<string>2428.19</string>
			<key>MA10</key>
			<string>2370.82</string>
			<key>MA20</key>
			<string>2269.55</string>
			<key>MA5</key>
			<string>2392.13</string>
			<key>Open</key>
			<string>2436.63</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.508</string>
			<key>PercentChangeFromOpen</key>
			<string>1.731</string>
			<key>Volume</key>
			<integer>1481110797</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>7.97</string>
			<key>ChangeFromOpen</key>
			<string>-20.07</string>
			<key>Date</key>
			<string>11-21-2014</string>
			<key>High</key>
			<string>2508.77</string>
			<key>Last</key>
			<string>2486.79</string>
			<key>LastClose</key>
			<string>2478.82</string>
			<key>Low</key>
			<string>2437.48</string>
			<key>MA10</key>
			<string>2386.30</string>
			<key>MA20</key>
			<string>2290.92</string>
			<key>MA5</key>
			<string>2421.25</string>
			<key>Open</key>
			<string>2506.86</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.322</string>
			<key>PercentChangeFromOpen</key>
			<string>-0.801</string>
			<key>Volume</key>
			<integer>980721128</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>196.05</string>
			<key>ChangeFromOpen</key>
			<string>177.31</string>
			<key>Date</key>
			<string>11-28-2014</string>
			<key>High</key>
			<string>2683.18</string>
			<key>Last</key>
			<string>2682.84</string>
			<key>LastClose</key>
			<string>2486.79</string>
			<key>Low</key>
			<string>2495.52</string>
			<key>MA10</key>
			<string>2421.64</string>
			<key>MA20</key>
			<string>2322.72</string>
			<key>MA5</key>
			<string>2497.36</string>
			<key>Open</key>
			<string>2505.53</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>7.884</string>
			<key>PercentChangeFromOpen</key>
			<string>7.077</string>
			<key>Volume</key>
			<integer>1844884410</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>254.81</string>
			<key>ChangeFromOpen</key>
			<string>245.92</string>
			<key>Date</key>
			<string>12-05-2014</string>
			<key>High</key>
			<string>2978.03</string>
			<key>Last</key>
			<string>2937.65</string>
			<key>LastClose</key>
			<string>2682.84</string>
			<key>Low</key>
			<string>2665.69</string>
			<key>MA10</key>
			<string>2480.63</string>
			<key>MA20</key>
			<string>2366.65</string>
			<key>MA5</key>
			<string>2600.85</string>
			<key>Open</key>
			<string>2691.73</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>9.498</string>
			<key>PercentChangeFromOpen</key>
			<string>9.136</string>
			<key>Volume</key>
			<integer>2619833417</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>0.52</string>
			<key>ChangeFromOpen</key>
			<string>30.35</string>
			<key>Date</key>
			<string>12-12-2014</string>
			<key>High</key>
			<string>3091.32</string>
			<key>Last</key>
			<string>2938.17</string>
			<key>LastClose</key>
			<string>2937.65</string>
			<key>Low</key>
			<string>2807.68</string>
			<key>MA10</key>
			<string>2538.06</string>
			<key>MA20</key>
			<string>2407.23</string>
			<key>MA5</key>
			<string>2704.85</string>
			<key>Open</key>
			<string>2907.82</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>0.018</string>
			<key>PercentChangeFromOpen</key>
			<string>1.044</string>
			<key>Volume</key>
			<integer>2764569726</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>170.43</string>
			<key>ChangeFromOpen</key>
			<string>187.15</string>
			<key>Date</key>
			<string>12-19-2014</string>
			<key>High</key>
			<string>3117.53</string>
			<key>Last</key>
			<string>3108.60</string>
			<key>LastClose</key>
			<string>2938.17</string>
			<key>Low</key>
			<string>2890.90</string>
			<key>MA10</key>
			<string>2611.47</string>
			<key>MA20</key>
			<string>2453.39</string>
			<key>MA5</key>
			<string>2830.81</string>
			<key>Open</key>
			<string>2921.45</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>5.801</string>
			<key>PercentChangeFromOpen</key>
			<string>6.406</string>
			<key>Volume</key>
			<integer>2353696060</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>49.00</string>
			<key>ChangeFromOpen</key>
			<string>28.33</string>
			<key>Date</key>
			<string>12-26-2014</string>
			<key>High</key>
			<string>3189.87</string>
			<key>Last</key>
			<string>3157.60</string>
			<key>LastClose</key>
			<string>3108.60</string>
			<key>Low</key>
			<string>2934.91</string>
			<key>MA10</key>
			<string>2693.11</string>
			<key>MA20</key>
			<string>2501.55</string>
			<key>MA5</key>
			<string>2964.97</string>
			<key>Open</key>
			<string>3129.27</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>1.576</string>
			<key>PercentChangeFromOpen</key>
			<string>0.905</string>
			<key>Volume</key>
			<integer>2331588269</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>77.08</string>
			<key>ChangeFromOpen</key>
			<string>22.12</string>
			<key>Date</key>
			<string>12-31-2014</string>
			<key>High</key>
			<string>3239.36</string>
			<key>Last</key>
			<string>3234.68</string>
			<key>LastClose</key>
			<string>3157.60</string>
			<key>Low</key>
			<string>3126.94</string>
			<key>MA10</key>
			<string>2786.35</string>
			<key>MA20</key>
			<string>2551.95</string>
			<key>MA5</key>
			<string>3075.34</string>
			<key>Open</key>
			<string>3212.56</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.441</string>
			<key>PercentChangeFromOpen</key>
			<string>0.689</string>
			<key>Volume</key>
			<integer>1313835280</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>50.73</string>
			<key>ChangeFromOpen</key>
			<string>26.78</string>
			<key>Date</key>
			<string>01-09-2015</string>
			<key>High</key>
			<string>3404.83</string>
			<key>Last</key>
			<string>3285.41</string>
			<key>LastClose</key>
			<string>3234.68</string>
			<key>Low</key>
			<string>3253.88</string>
			<key>MA10</key>
			<string>2872.87</string>
			<key>MA20</key>
			<string>2604.18</string>
			<key>MA5</key>
			<string>3144.89</string>
			<key>Open</key>
			<string>3258.63</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>1.568</string>
			<key>PercentChangeFromOpen</key>
			<string>0.822</string>
			<key>Volume</key>
			<integer>2206305008</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>91.09</string>
			<key>ChangeFromOpen</key>
			<string>118.29</string>
			<key>Date</key>
			<string>01-16-2015</string>
			<key>High</key>
			<string>3400.32</string>
			<key>Last</key>
			<string>3376.50</string>
			<key>LastClose</key>
			<string>3285.41</string>
			<key>Low</key>
			<string>3191.58</string>
			<key>MA10</key>
			<string>2968.71</string>
			<key>MA20</key>
			<string>2662.14</string>
			<key>MA5</key>
			<string>3232.56</string>
			<key>Open</key>
			<string>3258.21</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.773</string>
			<key>PercentChangeFromOpen</key>
			<string>3.631</string>
			<key>Volume</key>
			<integer>1415404173</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-24.74</string>
			<key>ChangeFromOpen</key>
			<string>162.03</string>
			<key>Date</key>
			<string>01-23-2015</string>
			<key>High</key>
			<string>3406.79</string>
			<key>Last</key>
			<string>3351.76</string>
			<key>LastClose</key>
			<string>3376.50</string>
			<key>Low</key>
			<string>3095.07</string>
			<key>MA10</key>
			<string>3056.00</string>
			<key>MA20</key>
			<string>2713.41</string>
			<key>MA30</key>
			<string>2531.70</string>
			<key>MA5</key>
			<string>3281.19</string>
			<key>Open</key>
			<string>3189.73</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-0.733</string>
			<key>PercentChangeFromOpen</key>
			<string>5.08</string>
			<key>Volume</key>
			<integer>1888767825</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-141.40</string>
			<key>ChangeFromOpen</key>
			<string>-136.90</string>
			<key>Date</key>
			<string>01-30-2015</string>
			<key>High</key>
			<string>3390.22</string>
			<key>Last</key>
			<string>3210.36</string>
			<key>LastClose</key>
			<string>3351.76</string>
			<key>Low</key>
			<string>3210.31</string>
			<key>MA10</key>
			<string>3128.36</string>
			<key>MA20</key>
			<string>2757.33</string>
			<key>MA30</key>
			<string>2570.07</string>
			<key>MA5</key>
			<string>3291.74</string>
			<key>Open</key>
			<string>3347.26</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-4.219</string>
			<key>PercentChangeFromOpen</key>
			<string>-4.09</string>
			<key>Volume</key>
			<integer>1526956814</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-134.45</string>
			<key>ChangeFromOpen</key>
			<string>-72.23</string>
			<key>Date</key>
			<string>02-06-2015</string>
			<key>High</key>
			<string>3251.21</string>
			<key>Last</key>
			<string>3075.91</string>
			<key>LastClose</key>
			<string>3210.36</string>
			<key>Low</key>
			<string>3052.94</string>
			<key>MA10</key>
			<string>3167.66</string>
			<key>MA20</key>
			<string>2794.65</string>
			<key>MA30</key>
			<string>2604.37</string>
			<key>MA5</key>
			<string>3259.99</string>
			<key>Open</key>
			<string>3148.14</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-4.188</string>
			<key>PercentChangeFromOpen</key>
			<string>-2.294</string>
			<key>Volume</key>
			<integer>1301040850</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>127.92</string>
			<key>ChangeFromOpen</key>
			<string>140.32</string>
			<key>Date</key>
			<string>02-13-2015</string>
			<key>High</key>
			<string>3237.16</string>
			<key>Last</key>
			<string>3203.83</string>
			<key>LastClose</key>
			<string>3075.91</string>
			<key>Low</key>
			<string>3049.11</string>
			<key>MA10</key>
			<string>3194.28</string>
			<key>MA20</key>
			<string>2837.46</string>
			<key>MA30</key>
			<string>2642.53</string>
			<key>MA5</key>
			<string>3243.67</string>
			<key>Open</key>
			<string>3063.51</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>4.159</string>
			<key>PercentChangeFromOpen</key>
			<string>4.58</string>
			<key>Volume</key>
			<integer>1028648361</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>43.08</string>
			<key>ChangeFromOpen</key>
			<string>40.77</string>
			<key>Date</key>
			<string>02-17-2015</string>
			<key>High</key>
			<string>3255.73</string>
			<key>Last</key>
			<string>3246.91</string>
			<key>LastClose</key>
			<string>3203.83</string>
			<key>Low</key>
			<string>3195.88</string>
			<key>MA10</key>
			<string>3225.16</string>
			<key>MA20</key>
			<string>2881.61</string>
			<key>MA30</key>
			<string>2679.87</string>
			<key>MA5</key>
			<string>3217.75</string>
			<key>Open</key>
			<string>3206.14</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>1.345</string>
			<key>PercentChangeFromOpen</key>
			<string>1.272</string>
			<key>Volume</key>
			<integer>452130053</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>63.39</string>
			<key>ChangeFromOpen</key>
			<string>53.82</string>
			<key>Date</key>
			<string>02-27-2015</string>
			<key>High</key>
			<string>3324.55</string>
			<key>Last</key>
			<string>3310.30</string>
			<key>LastClose</key>
			<string>3246.91</string>
			<key>Low</key>
			<string>3202.19</string>
			<key>MA10</key>
			<string>3245.33</string>
			<key>MA20</key>
			<string>2928.40</string>
			<key>MA30</key>
			<string>2717.37</string>
			<key>MA5</key>
			<string>3209.46</string>
			<key>Open</key>
			<string>3256.48</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>1.952</string>
			<key>PercentChangeFromOpen</key>
			<string>1.653</string>
			<key>Volume</key>
			<integer>833775686</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-69.11</string>
			<key>ChangeFromOpen</key>
			<string>-91.53</string>
			<key>Date</key>
			<string>03-06-2015</string>
			<key>High</key>
			<string>3336.76</string>
			<key>Last</key>
			<string>3241.19</string>
			<key>LastClose</key>
			<string>3310.30</string>
			<key>Low</key>
			<string>3221.67</string>
			<key>MA10</key>
			<string>3253.69</string>
			<key>MA20</key>
			<string>2973.40</string>
			<key>MA30</key>
			<string>2752.26</string>
			<key>MA5</key>
			<string>3215.63</string>
			<key>Open</key>
			<string>3332.72</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-2.088</string>
			<key>PercentChangeFromOpen</key>
			<string>-2.746</string>
			<key>Volume</key>
			<integer>1625709188</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>131.72</string>
			<key>ChangeFromOpen</key>
			<string>148.60</string>
			<key>Date</key>
			<string>03-13-2015</string>
			<key>High</key>
			<string>3391.26</string>
			<key>Last</key>
			<string>3372.91</string>
			<key>LastClose</key>
			<string>3241.19</string>
			<key>Low</key>
			<string>3198.37</string>
			<key>MA10</key>
			<string>3267.51</string>
			<key>MA20</key>
			<string>3026.93</string>
			<key>MA30</key>
			<string>2790.47</string>
			<key>MA5</key>
			<string>3275.03</string>
			<key>Open</key>
			<string>3224.31</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>4.064</string>
			<key>PercentChangeFromOpen</key>
			<string>4.609</string>
			<key>Volume</key>
			<integer>1576003810</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>244.41</string>
			<key>ChangeFromOpen</key>
			<string>226.16</string>
			<key>Date</key>
			<string>03-20-2015</string>
			<key>High</key>
			<string>3632.34</string>
			<key>Last</key>
			<string>3617.32</string>
			<key>LastClose</key>
			<string>3372.91</string>
			<key>Low</key>
			<string>3377.09</string>
			<key>MA10</key>
			<string>3300.70</string>
			<key>MA20</key>
			<string>3086.79</string>
			<key>MA30</key>
			<string>2836.35</string>
			<key>MA5</key>
			<string>3357.73</string>
			<key>Open</key>
			<string>3391.16</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>7.246</string>
			<key>PercentChangeFromOpen</key>
			<string>6.669</string>
			<key>Volume</key>
			<integer>2519297363</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>73.78</string>
			<key>ChangeFromOpen</key>
			<string>51.00</string>
			<key>Date</key>
			<string>03-27-2015</string>
			<key>High</key>
			<string>3715.87</string>
			<key>Last</key>
			<string>3691.10</string>
			<key>LastClose</key>
			<string>3617.32</string>
			<key>Low</key>
			<string>3600.70</string>
			<key>MA10</key>
			<string>3332.16</string>
			<key>MA20</key>
			<string>3150.43</string>
			<key>MA30</key>
			<string>2885.48</string>
			<key>MA5</key>
			<string>3446.56</string>
			<key>Open</key>
			<string>3640.10</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.04</string>
			<key>PercentChangeFromOpen</key>
			<string>1.401</string>
			<key>Volume</key>
			<integer>2595096217</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>172.83</string>
			<key>ChangeFromOpen</key>
			<string>153.32</string>
			<key>Date</key>
			<string>04-03-2015</string>
			<key>High</key>
			<string>3864.41</string>
			<key>Last</key>
			<string>3863.93</string>
			<key>LastClose</key>
			<string>3691.10</string>
			<key>Low</key>
			<string>3710.61</string>
			<key>MA10</key>
			<string>3383.38</string>
			<key>MA20</key>
			<string>3219.69</string>
			<key>MA30</key>
			<string>2936.73</string>
			<key>MA5</key>
			<string>3557.29</string>
			<key>Open</key>
			<string>3710.61</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>4.682</string>
			<key>PercentChangeFromOpen</key>
			<string>4.132</string>
			<key>Volume</key>
			<integer>2526169693</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>170.38</string>
			<key>ChangeFromOpen</key>
			<string>134.89</string>
			<key>Date</key>
			<string>04-10-2015</string>
			<key>High</key>
			<string>4040.35</string>
			<key>Last</key>
			<string>4034.31</string>
			<key>LastClose</key>
			<string>3863.93</string>
			<key>Low</key>
			<string>3891.73</string>
			<key>MA10</key>
			<string>3465.77</string>
			<key>MA20</key>
			<string>3297.06</string>
			<key>MA30</key>
			<string>2993.48</string>
			<key>MA5</key>
			<string>3715.91</string>
			<key>Open</key>
			<string>3899.42</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>4.41</string>
			<key>PercentChangeFromOpen</key>
			<string>3.459</string>
			<key>Volume</key>
			<integer>2257993398</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>252.99</string>
			<key>ChangeFromOpen</key>
			<string>214.58</string>
			<key>Date</key>
			<string>04-17-2015</string>
			<key>High</key>
			<string>4317.22</string>
			<key>Last</key>
			<string>4287.30</string>
			<key>LastClose</key>
			<string>4034.31</string>
			<key>Low</key>
			<string>4031.24</string>
			<key>MA10</key>
			<string>3586.91</string>
			<key>MA20</key>
			<string>3377.29</string>
			<key>MA30</key>
			<string>3058.74</string>
			<key>MA5</key>
			<string>3898.79</string>
			<key>Open</key>
			<string>4072.72</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>6.271</string>
			<key>PercentChangeFromOpen</key>
			<string>5.269</string>
			<key>Volume</key>
			<integer>3066452741</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>106.39</string>
			<key>ChangeFromOpen</key>
			<string>92.34</string>
			<key>Date</key>
			<string>04-24-2015</string>
			<key>High</key>
			<string>4444.41</string>
			<key>Last</key>
			<string>4393.69</string>
			<key>LastClose</key>
			<string>4287.30</string>
			<key>Low</key>
			<string>4188.57</string>
			<key>MA10</key>
			<string>3705.90</string>
			<key>MA20</key>
			<string>3450.09</string>
			<key>MA30</key>
			<string>3126.94</string>
			<key>MA5</key>
			<string>4054.07</string>
			<key>Open</key>
			<string>4301.35</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.482</string>
			<key>PercentChangeFromOpen</key>
			<string>2.147</string>
			<key>Volume</key>
			<integer>3467808177</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>47.97</string>
			<key>ChangeFromOpen</key>
			<string>-0.27</string>
			<key>Date</key>
			<string>04-30-2015</string>
			<key>High</key>
			<string>4572.39</string>
			<key>Last</key>
			<string>4441.66</string>
			<key>LastClose</key>
			<string>4393.69</string>
			<key>Low</key>
			<string>4398.64</string>
			<key>MA10</key>
			<string>3825.37</string>
			<key>MA20</key>
			<string>3525.26</string>
			<key>MA30</key>
			<string>3196.20</string>
			<key>MA5</key>
			<string>4204.18</string>
			<key>Open</key>
			<string>4441.93</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>1.092</string>
			<key>PercentChangeFromOpen</key>
			<string>-0.006</string>
			<key>Volume</key>
			<integer>2485327114</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-235.74</string>
			<key>ChangeFromOpen</key>
			<string>-235.42</string>
			<key>Date</key>
			<string>05-08-2015</string>
			<key>High</key>
			<string>4488.87</string>
			<key>Last</key>
			<string>4205.92</string>
			<key>LastClose</key>
			<string>4441.66</string>
			<key>Low</key>
			<string>4099.04</string>
			<key>MA10</key>
			<string>3914.93</string>
			<key>MA20</key>
			<string>3580.13</string>
			<key>MA30</key>
			<string>3257.24</string>
			<key>MA5</key>
			<string>4272.58</string>
			<key>Open</key>
			<string>4441.34</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-5.307</string>
			<key>PercentChangeFromOpen</key>
			<string>-5.301</string>
			<key>Volume</key>
			<integer>2340759734</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>102.77</string>
			<key>ChangeFromOpen</key>
			<string>77.42</string>
			<key>Date</key>
			<string>05-15-2015</string>
			<key>High</key>
			<string>4415.63</string>
			<key>Last</key>
			<string>4308.69</string>
			<key>LastClose</key>
			<string>4205.92</string>
			<key>Low</key>
			<string>4187.82</string>
			<key>MA10</key>
			<string>4021.68</string>
			<key>MA20</key>
			<string>3637.68</string>
			<key>MA30</key>
			<string>3322.83</string>
			<key>MA5</key>
			<string>4327.45</string>
			<key>Open</key>
			<string>4231.27</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.443</string>
			<key>PercentChangeFromOpen</key>
			<string>1.83</string>
			<key>Volume</key>
			<integer>2409891531</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>348.91</string>
			<key>ChangeFromOpen</key>
			<string>379.70</string>
			<key>Date</key>
			<string>05-22-2015</string>
			<key>High</key>
			<string>4658.27</string>
			<key>Last</key>
			<string>4657.60</string>
			<key>LastClose</key>
			<string>4308.69</string>
			<key>Low</key>
			<string>4260.51</string>
			<key>MA10</key>
			<string>4150.15</string>
			<key>MA20</key>
			<string>3708.83</string>
			<key>MA30</key>
			<string>3401.34</string>
			<key>MA5</key>
			<string>4401.51</string>
			<key>Open</key>
			<string>4277.90</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>8.098</string>
			<key>PercentChangeFromOpen</key>
			<string>8.876</string>
			<key>Volume</key>
			<integer>2451486706</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-45.86</string>
			<key>ChangeFromOpen</key>
			<string>-48.34</string>
			<key>Date</key>
			<string>05-29-2015</string>
			<key>High</key>
			<string>4986.50</string>
			<key>Last</key>
			<string>4611.74</string>
			<key>LastClose</key>
			<string>4657.60</string>
			<key>Low</key>
			<string>4431.56</string>
			<key>MA10</key>
			<string>4249.59</string>
			<key>MA20</key>
			<string>3775.15</string>
			<key>MA30</key>
			<string>3474.39</string>
			<key>MA5</key>
			<string>4445.12</string>
			<key>Open</key>
			<string>4660.08</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-0.985</string>
			<key>PercentChangeFromOpen</key>
			<string>-1.037</string>
			<key>Volume</key>
			<integer>3462746600</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>411.36</string>
			<key>ChangeFromOpen</key>
			<string>390.00</string>
			<key>Date</key>
			<string>06-05-2015</string>
			<key>High</key>
			<string>5051.63</string>
			<key>Last</key>
			<string>5023.10</string>
			<key>LastClose</key>
			<string>4611.74</string>
			<key>Low</key>
			<string>4615.23</string>
			<key>MA10</key>
			<string>4382.79</string>
			<key>MA20</key>
			<string>3857.48</string>
			<key>MA30</key>
			<string>3561.22</string>
			<key>MA5</key>
			<string>4561.41</string>
			<key>Open</key>
			<string>4633.10</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>8.92</string>
			<key>PercentChangeFromOpen</key>
			<string>8.418</string>
			<key>Volume</key>
			<integer>3275784187</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>143.25</string>
			<key>ChangeFromOpen</key>
			<string>120.66</string>
			<key>Date</key>
			<string>06-12-2015</string>
			<key>High</key>
			<string>5178.19</string>
			<key>Last</key>
			<string>5166.35</string>
			<key>LastClose</key>
			<string>5023.10</string>
			<key>Low</key>
			<string>4997.48</string>
			<key>MA10</key>
			<string>4513.04</string>
			<key>MA20</key>
			<string>3948.21</string>
			<key>MA30</key>
			<string>3650.80</string>
			<key>MA5</key>
			<string>4753.50</string>
			<key>Open</key>
			<string>5045.69</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>2.852</string>
			<key>PercentChangeFromOpen</key>
			<string>2.391</string>
			<key>Volume</key>
			<integer>3371516280</integer>
		</dict>
		<dict>
			<key>ChangeFromLastClose</key>
			<string>-687.99</string>
			<key>ChangeFromOpen</key>
			<string>-696.06</string>
			<key>Date</key>
			<string>06-19-2015</string>
			<key>High</key>
			<string>5176.79</string>
			<key>Last</key>
			<string>4478.36</string>
			<key>LastClose</key>
			<string>5166.35</string>
			<key>Low</key>
			<string>4476.50</string>
			<key>MA10</key>
			<string>4557.44</string>
			<key>MA20</key>
			<string>4011.61</string>
			<key>MA30</key>
			<string>3717.19</string>
			<key>MA5</key>
			<string>4787.43</string>
			<key>Open</key>
			<string>5174.42</string>
			<key>Outcome</key>
			<string>Success</string>
			<key>PercentChangeFromLastClose</key>
			<string>-13.317</string>
			<key>PercentChangeFromOpen</key>
			<string>-13.452</string>
			<key>Volume</key>
			<integer>2685837084</integer>
		</dict>
	</array>
	<key>Identity</key>
	<string>Request</string>
	<key>Outcome</key>
	<string>Success</string>
	<key>StartDate</key>
	<string>12-24-2012</string>
</dict>
</plist>
